<% provide(:title, 'Contacto') %>


	<h1>Contacto</h1>
		<p>
			Pagina de CONTACTO Aplicacion Sample App desarrollada en el curso de RoR de la <a href = "http://www.ute.edu.ec">Universidad Tecnologica Equinoccial</a>
			<br><br><h0>
			Contactanos!
		</h0></br></br>
		</p>

		
