

<div class="center hero-unit">

	<h1>Bienvenido a la aplicacion de preuba</h1>
		<h2>
			Pagina de Inicio Para la Aplicacion Sample Aapp desarrollada en el curso de RoR de la <a href = "http://www.ute.edu.ec">Universidad Tecnologica Equinoccial</a>
		</h2>

		<%= link_to "Registrate", '#', class: "btn btn-large btn-primary"%>
</div>
<%= link_to image_tag("logo.jpeg", alt:"Universidad Tecnologica Equinoccial"), 'http://www.ute.edu.ec' %>
		
