


	<h1>Inicio</h1>
		<p>
			Esta es la pagina de inicio de la aplicacion Sample App desarrollada por el
			curso de Ruby on Rails de la <a href="http://www.ute.edu.ec">Universidad Tecnologica Equinoccial</a>

		</p>
